@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
    overflow-x: hidden;
    box-sizing: border-box;
}

body 
{
    
  @include body-position; 
     
}

#root
{
    min-height: 100vh;
    position: relative;
}

main {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    box-sizing: border-box;  
    
    
   @media screen and (max-width: $breakpoint-desktop) {
       padding: 0px 20px;
    } 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: "Montserrat", sans-serif;
}


/* following style will be applied to every element */
*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
/* write your own css after this part */