/* Ce fichier va sauvegarder toutes nos variables à l'intérieur*/ 

$primary-color: #ff6060;   // on a crée une variable primary-color qui prend la couleur orange
$secondary-color: #f7f7f7;
$tertiary-color: #ffffff;
$footer-color: #000000;
$background-color: rgba(0, 0, 0, 0.3); 
$linear-cards: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);


$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 992px,
  xlarge: 1440px,
);

$breakpoint-desktop: 769px;

$wmin: 320px;
$wmax: 769px; 
