/* Ce fichier va sauvegarder toutes nos variables a l'intérieur*/ 

$primary-color: #ff6060;   // on a crée une variable primary-color qui prend la couleur orange
$secondary-color: #f7f7f7;
$tertiary-color: #ffffff;
$footer-color: #000000;
$background-color: rgba(0, 0, 0, 0.3); 
$linear-cards: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

// Pour les images, on aura: 
$about-background: $background-color
url();
$about-background-mobile: $background-color url ();
$banner-background: $background-color url();

$breakpoints: (
  small: 320px,
  medium: 768px,
  large: 1024px,
  xlarge: 1440px,
);

$breakpoint-desktop: 769px;

$wmin: 320px;
$wmax: 1440px; 
