.collapse {
  width: 100%;
  margin: 20px 0;


  /* @media screen and (min-width: $breakpoint-desktop) {
		margin: 31px auto 0; 
	} */ 

	
  &_deroulant {
    background: $primary-color;
		color: $tertiary-color;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 30px;
		padding: 7px 15px;
		border-radius: 5px;
		width: 100%; 

    	@media screen and (min-width: $breakpoint-desktop) {
		height: 47px;
		}   
	
		h2 {
			// Utilisation de mixin dans notre code
			@include font(13px, 500);             

			@media screen and (min-width: $breakpoint-desktop) {
				@include font(24px, 500);
			}
		} 

  	} 

	&_toggle img { //Animated 
		opacity: 1; 
		width: 9px; 
	}   
    
	&_content {
		background: $secondary-color;
		border-radius: 5px;
		transition: opacity 0.4s ease-in-out, height 0.4s 0.4s ease-in-out;

		p { 
			margin: 0;
			padding: 22px 15px;
			pointer-events: none;
			// L'animation se déclenchera au chargement de l'élément.
			animation: slide-in 400ms; 
			// Animation du paragraphe
			opacity: 1;
			transition: height 0.4s ease-in-out, opacity 0.4s 0.4s ease-in-out; 
			@include font(12px, 400); 

			@media screen and (min-width: $breakpoint-desktop) {
				@include font(24px, 400);
			}
		}

		
	}

	

} 


// On pivote l'élément à 0 dégré qui est égal à False veut dire fermeture du collapse

.rotated-down {
	transform: rotate(0deg);
	transition: 0.4s ease-in-out;
	@media screen and (min-width: $breakpoint-desktop) {
		width: 15px;
	} 
} 

// sinon si c'est True ouverture du collapse

.rotated-up {
	transform: rotate(180deg);
	transition: 0.4s ease-in-out;
}  


/* @keyframes forme des animations en plusieurs points ou étapes,
slide-in est la variable qui prend l'etat de la translation (from=start et to=à). 
*/

@keyframes slide-in {
	from {
	  transform: translateY(-15%);
	}
	to {
	  transform: translateY(0%);
	}
}

// Pour bien centrer le conteneur collapse
.about_collapse {
	width: 85%;
	margin: auto; 
}



